In [0]:
import tensorflow as tf
from tensorflow import keras

import pandas as pd

In [3]:
csv_file = keras.utils.get_file('heart.csv', 'https://storage.googleapis.com/applied-dl/heart.csv')

Downloading data from https://storage.googleapis.com/applied-dl/heart.csv
16384/13273 [=====================================] - 0s 0us/step

In [0]:
df = pd.read_csv(csv_file)

In [5]:
df.head()

   age  sex  cp  trestbps  chol  ...  oldpeak  slope  ca        thal  target
0   63    1   1       145   233  ...      2.3      3   0       fixed       0
1   67    1   4       160   286  ...      1.5      2   3      normal       1
2   67    1   4       120   229  ...      2.6      2   2  reversible       0
3   37    1   3       130   250  ...      3.5      3   0      normal       0
4   41    0   2       130   204  ...      1.4      1   0      normal       0

[5 rows x 14 columns]

In [6]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [0]:
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df.thal.cat.codes

In [11]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   1       145   233    1  ...      0      2.3      3   0     2       0
1   67    1   4       160   286    0  ...      1      1.5      2   3     3       1
2   67    1   4       120   229    0  ...      1      2.6      2   2     4       0
3   37    1   3       130   250    0  ...      0      3.5      3   0     3       0
4   41    0   2       130   204    0  ...      0      1.4      1   0     3       0

[5 rows x 14 columns]

In [0]:
target = df.pop('target')

In [0]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [14]:
for feat, targ in dataset.take(5):
  print(f"Features: {feat}, Target: {targ}")

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Target: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Target: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Target: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Target: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Target: 0

In [15]:
tf.constant(df['thal'])

<tf.Tensor: shape=(303,), dtype=int8, numpy=
array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3,
       3, 4, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 4, 2, 4, 3, 4, 3, 4, 4,
       2, 3, 3, 4, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 4,
       4, 2, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 4, 4, 3, 3, 3, 3, 4, 4, 4,
       3, 3, 4, 3, 4, 4, 3, 4, 3, 3, 3, 4, 3, 4, 4, 3, 3, 4, 4, 4, 4, 4,
       3, 3, 3, 3, 4, 3, 4, 3, 4, 4, 3, 3, 2, 4, 4, 2, 3, 3, 4, 4, 3, 4,
       3, 3, 4, 2, 4, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4,
       4, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 2,
       4, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 2, 2, 4, 3, 4, 2, 4, 3,
       3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 4, 2, 2, 4, 3, 4, 3, 2, 4, 3, 3, 2,
       4, 4, 4, 4, 3, 0, 3, 3, 3, 3, 1, 4, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4,
       3, 3, 4, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 4, 3, 4, 4, 3, 4, 4, 3, 3,
       3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 3, 2, 4, 4, 4, 4], dtype=int8)>

In [0]:
train_dataset = dataset.shuffle(len(df)).batch(1)

In [0]:
def get_compiled_model():
  model = keras.Sequential([
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(1)                          
  ])

  model.compile(optimizer='adam',
                loss=keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [18]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

Epoch 1/15
WARNING:tensorflow:Layer dense is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

303/303 [==============================] - 1s 4ms/step - loss: 2.1885 - accuracy: 0.6535
Epoch 2/15
303/303 [==============================] - 1s 3ms/step - loss: 0.8810 - accuracy: 0.6535
Epoch 3/15
303/303 [==============================] - 1s 3ms/step - loss: 0.7851 - accuracy: 0.6931
Epoch 4/15
303/303 [==============================] - 1s 3ms/step - loss: 0.7814 - accuracy: 0.6799
Epoch 5/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6524 - accuracy: 0.6964
Epoch 6/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5747 - accuracy: 0.7327
Epoch 7/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5590 - accuracy: 0.7294
Epoch 8/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6391 - accuracy: 0.7129
Epoch 9/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6036 - accuracy: 0.7426
Epoch 10/15
303/303 [==============================] - 1s 3ms/step - loss: 0.6032 - accuracy: 0.7591
Epoch 11/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5443 - accuracy: 0.7525
Epoch 12/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5274 - accuracy: 0.7393
Epoch 13/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5492 - accuracy: 0.7657
Epoch 14/15
303/303 [==============================] - 1s 3ms/step - loss: 0.5454 - accuracy: 0.7591
Epoch 15/15
303/303 [==============================] - 1s 3ms/step - loss: 0.4937 - accuracy: 0.7525

In [0]:
inputs = {key: keras.layers.Input(shape=(), name=key) for key in df.keys()}
x = tf.stack(list(inputs.values()), axis=-1)

x = keras.layers.Dense(10, activation='relu')(x)
output = keras.layers.Dense(1)(x)

model_func = keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam',
                   loss=keras.losses.BinaryCrossentropy(from_logits=True),
                   metrics=['accuracy'])

In [0]:
dict_slices = tf.data.Dataset.from_tensor_slices((df.to_dict('list'), target.values)).batch(16)

In [22]:
for dict_slice in dict_slices.take(1):
  print(dict_slice)

({'age': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([63, 67, 67, 37, 41, 56, 62, 57, 63, 53, 57, 56, 56, 44, 52, 57],
      dtype=int32)>, 'sex': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1], dtype=int32)>, 'cp': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 4, 4, 3, 2, 2, 4, 4, 4, 4, 4, 2, 3, 2, 3, 3], dtype=int32)>, 'trestbps': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([145, 160, 120, 130, 130, 120, 140, 120, 130, 140, 140, 140, 130,
       120, 172, 150], dtype=int32)>, 'chol': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([233, 286, 229, 250, 204, 236, 268, 354, 254, 203, 192, 294, 256,
       263, 199, 168], dtype=int32)>, 'fbs': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int32)>, 'restecg': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 0, 0], dtype=int32)>, 'thalach': <tf.Tensor: shape=(16,), dtype=int32, numpy=
array([150, 108, 129, 187, 172, 178, 160, 163, 147, 155, 148, 153, 142,
       173, 162, 174], dtype=int32)>, 'exang': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'oldpeak': <tf.Tensor: shape=(16,), dtype=float32, numpy=
array([2.3, 1.5, 2.6, 3.5, 1.4, 0.8, 3.6, 0.6, 1.4, 3.1, 0.4, 1.3, 0.6,
       0. , 0.5, 1.6], dtype=float32)>, 'slope': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([3, 2, 2, 3, 1, 1, 3, 1, 2, 3, 2, 2, 2, 1, 1, 1], dtype=int32)>, 'ca': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([0, 3, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int32)>, 'thal': <tf.Tensor: shape=(16,), dtype=int32, numpy=array([2, 3, 4, 3, 3, 3, 3, 3, 4, 4, 2, 3, 2, 4, 4, 3], dtype=int32)>}, <tf.Tensor: shape=(16,), dtype=int64, numpy=array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0])>)

In [23]:
model_func.fit(dict_slices, epochs=15)

Epoch 1/15
19/19 [==============================] - 0s 6ms/step - loss: 58.6386 - accuracy: 0.2739
Epoch 2/15
19/19 [==============================] - 0s 5ms/step - loss: 33.1642 - accuracy: 0.3036
Epoch 3/15
19/19 [==============================] - 0s 6ms/step - loss: 11.5251 - accuracy: 0.4554
Epoch 4/15
19/19 [==============================] - 0s 6ms/step - loss: 4.7308 - accuracy: 0.6502
Epoch 5/15
19/19 [==============================] - 0s 5ms/step - loss: 4.0605 - accuracy: 0.6799
Epoch 6/15
19/19 [==============================] - 0s 5ms/step - loss: 3.2919 - accuracy: 0.6403
Epoch 7/15
19/19 [==============================] - 0s 4ms/step - loss: 2.6266 - accuracy: 0.6502
Epoch 8/15
19/19 [==============================] - 0s 4ms/step - loss: 2.1210 - accuracy: 0.6403
Epoch 9/15
19/19 [==============================] - 0s 5ms/step - loss: 1.9769 - accuracy: 0.6601
Epoch 10/15
19/19 [==============================] - 0s 5ms/step - loss: 1.8911 - accuracy: 0.6766
Epoch 11/15
19/19 [==============================] - 0s 5ms/step - loss: 1.8172 - accuracy: 0.6667
Epoch 12/15
19/19 [==============================] - 0s 5ms/step - loss: 1.7614 - accuracy: 0.6634
Epoch 13/15
19/19 [==============================] - 0s 5ms/step - loss: 1.6984 - accuracy: 0.6601
Epoch 14/15
19/19 [==============================] - 0s 5ms/step - loss: 1.6275 - accuracy: 0.6733
Epoch 15/15
19/19 [==============================] - 0s 4ms/step - loss: 1.5662 - accuracy: 0.6700